page-title=About this site
<->
<section>
<p>
This site is made with
<ext-a href="https://github.com/zoggy/stog">Stog</ext-a>.
</p>
<p>
A large part of the style is taken from
<ext-a href="http://twitter.github.com/bootstrap/">Bootstrap</ext-a>
 and
<ext-a href="http://lesscss.org/">{less}</ext-a>
is used to compute it.
</p>
<p>
If this web site is not correctly displayed with your browser:
<br/>
<a href="http://getfirefox.com/" title="Get Firefox - The Browser, Reloaded.">
<img src="http://www.mozilla.org/products/firefox/buttons/getfirefox_small.png"
width="110" height="32" alt="Get Firefox"/></a>
</p>
</section>