page-title=Documentation
<->
<page id="getting_started"/>
<page id="funs"/>
<page id="plugins"/>
<div class="alert alert-warning">
We assume Stog was correctly installed (see <page href="install"/>)
and the <icode>stog</icode> executable is in your <icode>PATH</icode>.
</div>

<section title="General considerations">
All text is assumed to be UTF-8.
</section>

<section title="Topics">
<ul class="toc">
<li><page href="getting_started"/></li>
<li><page href="funs"/></li>
<li><page href="plugins"/></li>
</ul>
</section>

