page-title=Getting started
<->
<prepare-toc depth="1">
<toc>Sections:</toc>
<section name="structure" title="Directory structure">
<p>
A stog website directory has the following structure:
</p>
<ul>
<li><icode>index.html</icode>: This is the main file of the web site,
containing information like site name, base url, contact email...
It has the following syntax:
<hcode lang="xml"><![CDATA[
site-title= your blog title
site-description= your blog/site description
site-email= foo@bar.org
site-url= http://the.base.url/where/your/site/will/be/
rss-length: 10 (optional: the number of items in generated rss channels)
[optional other key=value pairs]
<->
Some xml code as starting point when generating your site
(and called "site-body").
]]>
</hcode>
</li>

<li><icode>tmpl/</icode>: This is the template directory. This is where
<icode>stog</icode> will lookup for template files by default; another
directory can be indicated with the <icode>--tmpl</icode> command line option.</li>

<li><icode>xxx.html</icode>: any <icode>.html</icode> file in the directory
will be considered as a static page of the site. Each of these files has the following
syntax:
<hcode lang="xml"><![CDATA[
page-title= your page title
[optional other key=value pairs]
<->
Some xml code which will be the page contents.
]]></hcode>
</li>

<li><icode>yyy/index.html</icode>: any subdirectory containing a <icode>index.html</icode>
file is considered as an article (= a blog post). Here is the syntax of
such <icode>index.html</icode> files:
<hcode lang="xml"><![CDATA[
article-title= your article title
article-date= 2012/03/09
topics= bar, foo, important one
keywords= latex, hello world, xml
article-published= true
[optional other key=value pairs]
<->
Some xml code which will be the article contents.
]]></hcode>
</li>
</ul>
<p>If you're impatient and want to start from another site, you can start
from the <ext-a href="https://github.com/zoggy/stog/tree/master/doc"><icode>doc</icode> directory
in the Stog sources</ext-a>. It contains the
sources of the Stog web site (the one you're just reading).
</p>
</section>

<section name="howitworks" title="How it works">
<p>
When launched, <icode>stog</icode> performs the following actions:
</p>
<ol>
<li>Read the given directory structure;</li>
<li>Create the output directory;</li>
<li>Generate article pages in this directory, each article in its own directory,
as in the source directory; to generate the article page, <icode>stog</icode>
uses the <icode>blogpage.tmpl</icode> template file from the <icode>tmpl</icode>
directory; generate also the pages with article lists: by keyword, by topic,
by month;</li>
<li>Generate the main page of the site in the output directory; while doing so,
the <icode lang="xml">&lt;page id="..."/&gt;</icode> nodes trigger the generation
of other pages. The main page is generated using the <icode>index.tmpl</icode>
template, while other pages are generated using the <icode>page.tmpl</icode>
template;</li>
<li>For each article directory, copy all files (except <icode>index.html</icode>)
to the article output directory.</li>
</ol>
</section>

<section name="running" title="Running Stog">
<p>
To compile your web site, use the following command:
<command-line><![CDATA[stog <your-directory>]]></command-line>
</p>
<p>Stog will generate your web site in <icode>./stog-output</icode>,
except if you use the <icode>-d</icode> option to specify another
output directory.
</p>
<p>You can specify a template directory with the <icode>--tmpl</icode>
option. By default, the <icode>tmpl</icode> directory is
<icode>your-directory/tmpl</icode>.
</p>
<p>
It is possible to give more than one directory to <icode>stog</icode>. In this case,
all pages and articles are merged as if all were defined in the last directory
given. It may be useful to gather blogs or page to generate one big site. Or not.
</p>
<p>The <icode>--site-url</icode> option is used to override the <icode>url</icode>
field of the main file. It it useful to generate a local site, for example
<command-line>stog --site-url file:///tmp/website your-directory</command-line>
to test your site locally with correct links.
</p>
<p>The <icode>--plugin</icode> option makes <icode>stog</icode> dynamically
load the given OCaml object file. The loaded plugin can define new functions
to associate to some tags, or even override some pre-defined functions.
See <page href="plugins"/>.
</p>
<p>At last, the <icode>--lang</icode> option is used to generate the website
for one language. By default, the only known languages are "en" and "fr".
If you use the <icode>--lang en</icode> option, then pages will be generated
in <icode>.en.html</icode> files and all "fr" nodes will be removed.
Then you can run <icode>stog</icode> with the <icode>--lang fr</icode>
to generate the "fr" part of your web site.
</p>
<p>
If you need more languages, just define "languages" in the main file header
this way:
<hcode>languages= es,de,fr,en</hcode>
</p>
</section>

<section name="templates" title="Evaluation and templating">
<p>
When it comes to generate the <icode>.html</icode> for each of your
article or static page, the XML body is interpreted in the following way.
</p>
<p>
For each encountered tag <icode>t</icode>, <icode>t</icode> is looked up
in the environment for its associated <em>function</em> <icode>f</icode>.
</p>
<p>If no <icode>f</icode> is found, then the XML tag is left untouched
and the children of the tag are then analysed.
</p>
<p>If <icode>f</icode> is found, then it is called, given the environment,
the tag attributes and the children of the tag. Then the function returns
a list of XML trees which must then be analysed.
</p>
<p>When this analyze reaches a fixpoint, the final XML tree is written
to the <icode>.html</icode> file.
</p>
<p>This work is performed by the <ext-a href="https://github.com/zoggy/xtmpl">Xtmpl</ext-a>
library.</p>
<p>Besides, the contents of the attributes are also analysed to perform such substitutions,
before looking up for the tag in the environment.
</p>
<p>Stog comes with <page href="funs">predefined functions</page>
associated to some tags, but more can be created in plugins.
</p>
</section>
</prepare-toc>
